/* http://bl.ocks.org/KKostya/6540747 */
.axis { font: 10px sans-serif; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.axis   .domain { fill: none; stroke: #000; stroke-opacity: .3; stroke-width: 10px; stroke-linecap: round; }
.axis   .halo   { fill: none; stroke: #ddd; stroke-width: 8px;  stroke-linecap: round; }
.slider .handle { fill: #fff; stroke: #333; stroke-opacity: 1; stroke-width: 2.25px; pointer-events: none; }

.playback-slider button {
	margin: 0 6px 0 12px;
	position: relative;
	top: -1em;
}